.course{
    background:
    background-size: 100% 100%;
    width: 100%;
    height:100vh;

    }

    .head{
        font-weight: bold;
    background-color:blue;
    border-radius: 5px;
    margin-top: -40px;
    }

    .effect-1{
        border: 0;
        outline: none;
        width: 100%;
        padding: 7px;
        border-bottom: 1px solid #ccc;

    }

    .effect-1 .focus-border{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: blue;
        transition: 0.4s;
    }

    .btn1 {
        background-color: blue;
        border: 0;
        border-radius: 50px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 16px;
        padding: 12px 25px;
        position: absolute;
        bottom: 30px;
        right: 30px;
        letter-spacing: 1px;
    }

    .submit-btn {
        background-color: rgba(0,0,0,0.4);
        color: rgba(256,256,256,0.7);
        border:0;
        border-radius: 15px;
        display: block;
        margin: 15px auto;
        padding: 15px 45px;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;

        &:hover {
            transition: all .3s ease;
            background-color: rgba(0,0,0,0.8);
        }
    }


/*
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
padding: 0;
margin: 0;
box-sizing:border-box;
}

.course{
background:
background-size: 100% 100%;
width: 100%;
height:100vh;

}

.head{
background-color:blue;
border-radius: 5px;
margin-top: -40px;
}

.card{
margin:100px 25%;
background: #fff;
padding: 30px;
border-radius:10px;
box shadow: 0px 0px 10px 0px #000;
width:300 px;
}

 input {
  position:center;
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
  background-color: pink;


}

#id_course_name {
    text-align: center;
    width: 285px;
    height: 48px;
    border: 2px solid #3498db;
    border-radius: 0.5px;
    padding-left: 8px;
    border-radius: 20px;
    background: none;
    color: white;
    font-size: 14px;
}
#id_course_type {
    text-align: center;
    width: 285px;
    height: 48px;
    border: 2px solid #3498db;
    border-radius: 0.5px;
    padding-left: 8px;
    border-radius: 20px;
    background: none;
    color: white;
    font-size: 14px;
}

#id_course_description
 {
    text-align: center;
    width: 285px;
    height: 48px;
    border: 2px solid #3498db;
    border-radius: 0.5px;
    padding-left: 8px;
    border-radius: 20px;
    background: none;
    color: white;
    font-size: 14px;
}

.btn {
	background: blue;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

