<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Courses</title>
</head>
<body>
   <h1>Here are all the courses listed below</h1>
{% for crs in course%}
   <p>
       <div>Course Name:</div>
       {{crs.course_name}}
       <div>Course Type:</div>
       {{crs.course_type}}
       <div>Course Descrption:</div>
       {{crs.course_description}}
       <form method="POST" action="{% url 'show_teacher_profile' %}">
           {% csrf_token %}
           <input type="hidden" name="teacher_id" value={{crs.course_instructor_id.teacher_id}}>
           <button  type="submit">See {{crs.course_instructor_id.name}}'s profile </button>
       </form>
       <!--<a  href="{% url 'show_teacher_profile' %}">See {{crs.course_instructor_id.name}}'s profile</a>-->

       <form method="POST" action="{% url 'create_course_request' %}">
           {% csrf_token %}
           <input type="hidden" name="course_id" value={{crs.course_id}}>
           <button  type="submit">Enroll</button>
       </form>


   </p>
{% endfor %}
<script>
    function send_data(e){
    var data=new FormData();
    course_name='maths';
    /*var data={
     'course_name':course_name,
     'student_id':1
    };*/
    data.append('course_name',course_name);
    //var data = JSON.stringify({"course_name":course_name,"name":"LaraCroft"});
    console.log('Yes the button is clicked')
    var xhr= new XMLHttpRequest();
    xhr.open('POST',"{% url 'create_course_request'%}",true);
    xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    xhr.send(data);

    }
</script>
</body>
</html>