<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Courses</title>
</head>
<body>
<form method="POST" action="{% url 'show_all_courses' %}">
    {% csrf_token %}
    <input name="course_name" placeholder="Search by Course Name">
    <input name="course_type" placeholder="Search By Course Type">
    <input name="course_instructor" placeholder="Search by Course Instructor">
    <input type="hidden" name="msg" value="Search">
    <button type="submit">Search</button>
</form>
   <h1>Here are all the courses listed below</h1>
{% for crs in course%}
   <p  id="Course_List">
       <div>Course Name:</div>
       {{crs.course_name}}
       <div>Course Type:</div>
       {{crs.course_type}}
       <div>Course Descrption:</div>
       {{crs.course_description}}
       <form method="POST" action="{% url 'show_teacher_profile' %}">
           {% csrf_token %}
           <input type="hidden" name="teacher_id" value={{crs.course_instructor_id.teacher_id}}>
           <button  type="submit">See {{crs.course_instructor_id.name}}'s profile </button>
       </form>
       <!--<a  href="{% url 'show_teacher_profile' %}">See {{crs.course_instructor_id.name}}'s profile</a>-->

       <form method="POST" action="{% url 'create_course_request' %}">
           {% csrf_token %}
           <input type="hidden" name="course_id" value={{crs.course_id}}>
           <button onclick= type="submit">Enroll</button>
       </form>


   </p>
{% endfor %}
<script>
    function change_type(e){
     console.log(document.getElementById("Course_List"))
    }
</script>
</body>
</html>