<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/student_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/show_all_courses.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>


    <div class="nav">
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bx-cloud-rain'></i>
                    <div class="logo_name">EdPortal</div>
                </div>
                <i class='bx bx-menu' id="btn"></i>
            </div>
            <ul class="nav_list">
                <li>
                    <span class="tooltip">Search</span>
                    <a href="#">
                        <i class='bx bx-search-alt-2'></i>
                        <input type="text" placeholder="Search...">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-dashboard'></i>
                        <span class="links_name">Home</span>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
                    <a href="/show_student_profile/">
                        <i class='bx bx-user'></i>
                        <span class="links_name">Profile</span>
                    </a>
                    <span class="tooltip">Profile</span>
                </li>
                <li>
                    <a href="/show_notifications/">
                        <i class='bx bx-message-detail'></i>
                        <span class="links_name">Notifications</span>
                    </a>
                    <span class="tooltip">Notifications</span>
                </li>
                <li>
                    <a href="/show_courses/">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <span class="links_name">Explore Courses</span>
                    </a>
                    <span class="tooltip">Explore Courses</span>
                </li>
                <li>
                    <a href="/show_my_courses/">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <span class="links_name">My Courses</span>
                    </a>
                    <span class="tooltip">My Courses</span>
                </li>
                <li>
                    <a href="/show_requested_courses/">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <span class="links_name">Requested Courses</span>
                    </a>
                    <span class="tooltip">Requested Courses</span>
                </li>
                <li>
                    <a href="/student_logout/">
                        <i class='bx bx-folder'></i>
                        <span class="links_name">Log Out</span>
                    </a>
                    <span class="tooltip">Log Out</span>
                </li>

        </div>
    </div>

    <div class="heading" style= "margin-left:320px; margin-top: 40px; " >
        <button type="button" class="btn btn-primary">Here are all the courses listed below</button>
    </div>
  <div class="search" style="margin-left: 320px;">
    <form method="POST" action="{% url 'show_all_courses' %}">
        {% csrf_token %}
        <input name="course_name" placeholder="Search by Course Name">
        <input name="course_type" placeholder="Search By Course Type">
        <input name="course_instructor" placeholder="Search by Course Instructor">
        <input type="hidden" name="msg" value="Search">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

    <div class="cards" style="margin-left:270px">

        <div class="container">
            <div class="row ">
                {% for crs in course%}
                <div class=" col-md-4 ">
                    <div class="card m-5 p-2">
                        <div class="card-header">
                            <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg"
                                alt="rover" />
                        </div>
                        <div class="card-body">
                            <span class="tag tag-teal"> {{crs.course_name}}</span><br>
                            <span class="tag tag-teal"> {{crs.course_type}}</span>
                            <h7>Course Description</h7>
                            <p>
                                {{crs.course_description}}
                            </p>
                            <div class="user">
                                <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo"
                                    alt="user" />
                                <div class="user-info">
                                    <form method="POST" action="{% url 'show_teacher_profile' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="teacher_id"
                                            value={{crs.course_instructor_id.teacher_id}}>
                                        <button type="submit" class="btn btn-link">See profile </button>
                                    </form>
                                    <!--<a  href="{% url 'show_teacher_profile' %}">See {{crs.course_instructor_id.name}}'s profile</a>-->

                                    <form method="POST" action="{% url 'create_course_request' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="course_id" value={{crs.course_id}}>
                                        <button type="submit" class="btn btn-primary">Enroll</button>
                                    </form>

                                    <form method="POST" action="{% url 'course_details' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="course_id" value={{crs.course_id}}>
                                        <button type="submit" class="btn btn-link">See course details</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script>
        function change_type(e) {
            console.log(document.getElementById("Course_List"))
        }
    </script>

</body>

</html>



<!--

<form method="POST" action="{% url 'show_all_courses' %}">
    {% csrf_token %}
    <input name="course_name" placeholder="Search by Course Name">
    <input name="course_type" placeholder="Search By Course Type">
    <input name="course_instructor" placeholder="Search by Course Instructor">
    <input type="hidden" name="msg" value="Search">
    <button type="submit">Search</button>
</form>
   <h1>Here are all the courses listed below</h1>
{% for crs in course%}

       <div>Course Name:</div>
       {{crs.course_name}}
       <div>Course Type:</div>
       {{crs.course_type}}
       <div>Course Descrption:</div>
       {{crs.course_description}}
       <form method="POST" action="{% url 'show_teacher_profile' %}">
           {% csrf_token %}
           <input type="hidden" name="teacher_id" value={{crs.course_instructor_id.teacher_id}}>
           <button  type="submit">See {{crs.course_instructor_id.name}}'s profile </button>
       </form>
       
       <form method="POST" action="{% url 'create_course_request' %}">
           {% csrf_token %}
           <input type="hidden" name="course_id" value={{crs.course_id}}>
           <button  type="submit">Enroll</button>
       </form>

       <form method="POST" action="{% url 'course_details' %}">
           {% csrf_token %}
           <input type="hidden" name="course_id" value={{crs.course_id}}>
           <button  type="submit">See course details</button>
       </form>


   </p>
{% endfor %}
<script>
    function change_type(e){
     console.log(document.getElementById("Course_List"))
    }
</script>
</body>
</html>

-->