

.imglogin{
    height:450px;
    width: 380px;
    margin-top: 5%;

}
.row1{

    /* height: 600px; */
    width: 90%;
    margin: 20px 0px;


}
.bgcol{
    margin-top: 20px;
    background-color: #acb6ee;
    border-radius: 25px;
    padding: 10px 20px;

    color: white;
}
.form-heading{
    text-align: center;
}
a{

    font-weight: 500;
    color: rgb(165, 241, 12);


}
a:hover {
    color: rgb(251, 251, 251);
  }

  #id_name{
      width: 300px;
  }

  #id_email{
      width: 300px;
  }

  #id_address{
    width: 300px;
}
#id_dept{
    width: 300px;
}
#id_contact_no{
    width: 300px;
}
#id_username{
    width: 300px;
}

#id_password{
    width: 300px;
}